*{
    margin: 0%
}

body{
    background-image: url("/código principal/imagens/fundo_site.jpg");
}

#imagem_header{
    width: 120px;
    border-radius: 80px;
}

header{
   background-color:  rgb(238, 210, 179);
   display: flex;
   margin-bottom: 90px;
}

#titulo_header{
    margin-top: 30px;
}

.todos{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}

.imagem{
    width: 500px;
    border-radius: 20px;
}

.texto{
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
    
}

footer{
    background-color: rgb(238, 210, 179);
    text-align: center;
    padding: 30px;
    margin-top: 80px;
}


